#* @vtlvariable name="pagination" type="com.vmpgroup.firens.PaginationState" *#
#if($pagination.totalPages > 1)
<div class="pagination pagination-small">
    <ul>
        <li #if($pagination.isFirstPage()) class="disabled" #end><a href="#if(!$pagination.isFirstPage())?page=$math.sub($pagination.currentPage, 1)#end">Prev</a></li>
        #foreach ( $item in [1..$pagination.totalPages] )
            <li #if($pagination.currentPage == $velocityCount) class="active" #end><a href="?page=$velocityCount">$velocityCount</a></li>
        #end
        <li #if($pagination.isLastPage()) class="disabled" #end><a href="#if(!$pagination.isLastPage())?page=$math.add($pagination.currentPage,1)#end">Next</a></li>
    </ul>
</div>
#end