#foreach ($book in $books)
<div class="col-md-4">
<!--<div class="card md-4">-->
    <div class="card-text-left mb-4 box-shadow">
        <div class="card-header">
            <a href="/books/$book.bookId">
                <strong class="card-title">$book.title</strong><br/>
                <i class="card-subtitle mb-2 text-muted">$book.authorFirstName $book.authorLastName</i>
            </a>
            <!--  Save until buttons are needed...
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
            -->
        </div>
        #if ($book.coverFilename)
            <a href="/books/$book.bookId"><img class="card-img-bottom" src="/covers/$book.coverFilename" alt="Cover Image"/></a>
        #else
            <a href="/books/$book.bookId"><img class="card-img-bottom" data-src="holder.js/208x320?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=No Cover" alt="No Cover [208x320]"/></a>
        #end
    </div>
</div>
#end
<!--</div>-->
